.page-content{
    padding-top:30px;
    overflow: hidden;
}
.card {
    border: 3px solid rgb(2, 124, 124);
    border-radius: 8px;
    width: 65%;
    margin: 3% auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-header{
    padding:1%;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid rgb(192, 192, 192);
    text-align: center;
}
.card-body{padding:5%;
    text-align: center;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.15),
        0 20px 40px rgba(0, 0, 0, 0.1);
}

.nav {
    background-color: teal;
    list-style-type: none;
    margin: 0;
    top: 0 px;
}
.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}
.nav li a {
    text-decoration: none;
    color: white
}
.nav{
    background-color: teal;
    list-style-type: none;
    text-align: center;
}

.profile-image{
    text-align: center;
}

.footer{
    text-align: center;
}

.circle-img {
    width: 200px;  
    height: 200px;
    border-radius: 50%; 
    object-fit: cover; 
}

#courses {
  padding: 40px;
}





