.page-content{
    padding-top:20px;
    overflow: hidden;
    padding-bottom: 50px; 
}
.card {
    border: 2px solid rgb(2, 124, 124);
    border-radius: 8px;
    width: 60%;
    margin: 3% auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 270px;  
}
.card-header{
    background-color: teal;       
    color: white;                 
    font-size: 20px; 
    font-weight: 500;
    text-align: center;
    padding: 15px 0;              
    border-radius: 4px 4px 0 0;   
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
    position: sticky;                                
    z-index: 10;
    margin: 0;
    top: 0px;
    font-size: 20px; 
}
.card-body{
    padding:5%;
    text-align: center;
    margin: 9px;
    font-family: 'Arial', sans-serif; 
    font-size: 12px;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.15),
        0 20px 40px rgba(0, 0, 0, 0.1);
}

.nav {
    background-color: teal;
    list-style-type: none;
    margin: 0;
    top: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px; 
    text-align: center;
}
.nav li {
    display: inline-block;
    font-size: 19px;
    padding: 20px;
}
.nav li a {
    text-decoration: none;
    color: white
}
.nav li a:hover {
    color: aqua;
}

.profile-image{
    text-align: center;
    margin-bottom: 10px; 
    padding-top: 20px;
}
.circle-img {
    width: 200px;  
    height: 200px;
    border-radius: 50%; 
    object-fit: cover; 
}   

.footer{
    padding-top:15px;
    padding-bottom: 15px;
    text-align: center;
    height: 20px;
}

#courses {
    padding: 0;
    margin: auto;
    gap: 5px; 
    scroll-behavior: smooth; 
    overflow-y: auto; /* vertical scroll */
}

#courses::-webkit-scrollbar {
    width: 0px; 
}

#courses li {
    list-style: none;
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 12px 18px;
    border-radius: 6px;
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    color: #222;
    box-shadow: 0 2px 5px rgba(0,0,0,0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
    text-align: center;
    cursor: pointer;
}

#courses li:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    background-color: #e0f7fa;
}

.search {
    position: absolute;
    right: 50px;
    top: 9px;
    font-family: 'Arial', sans-serif; 
    font-size: 13px;
    width: 150px;
}

#searchBar {
    width: 85%;
    padding: 8px 35px 8px 10px; /* space for button */
    border-radius: 20px;
    border: 1px solid white;
}

.search button {
    position: absolute;
    left: 137px;
    top: 0%;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 25px;
    transform: scaleX(-1);
    color: teal;
}

